## Datum a čas

In [1]:
import datetime
import time
from time import gmtime, strftime
import pandas as pd

### Aktuální datum a čas

In [2]:
from time import gmtime, strftime
print(strftime("%Y-%m-%d %H-%M-%S", gmtime()))
print(datetime.datetime.now().strftime("%Y-%m-%d %H-%M-%S"))

2019-09-09 06-06-21
2019-09-09 08-06-21

### Datum z jednotlivých dní

Použito v:
* Vykonia zpracování dat

In [3]:
#datum ve formátu "yyyymmddhh24
datumString = "2017030823"

In [4]:
#datum jako datetime
datum1 = datetime.datetime(
    year = int(datumString[0:4]), 
    month = int(datumString[4:6]), 
    day = int(datumString[6:8]),
    hour = int(datumString[8:10])
)
datum2 = datetime.datetime.strptime('2017-03-12', '%Y-%m-%d')

print(datum1)
print(datum2)

2017-03-08 23:00:00
2017-03-12 00:00:00

In [5]:
#timestamp
ts = time.mktime(datum1.timetuple())
print(ts)

1489010400.0

In [6]:
#a zpět
datetime.datetime.fromtimestamp(ts)

datetime.datetime(2017, 3, 8, 23, 0)

### Čísla dnů, týdnů, měsíců

In [7]:
#den týdne
print("Den týdne:",datum1.strftime("%w"))
print("Den týdne:",datum1.strftime("%a"))
print("Den týdne:",datum1.strftime("%A"))

Den týdne: 3
Den týdne: Wed
Den týdne: Wednesday

### Části

In [8]:
datum = datetime.datetime.strptime('2017-03-12', '%Y-%m-%d')

In [9]:
print(datum.hour)
print(datum.day)
print(datum.month)
print(datum.year)

0
12
3
2017

### Rozdíly

In [10]:
rozdil = datum2-datum1
print(rozdil)
rozdil

3 days, 1:00:00

datetime.timedelta(days=3, seconds=3600)

In [11]:
#rozdíl v hodinách
print(rozdil.total_seconds()/60/60)

73.0

## Časová řada

In [12]:
datum = datetime.datetime.strptime('2017-03-12', '%Y-%m-%d')

In [13]:
type(datum)

datetime.datetime

In [14]:
datum.year

2017

In [15]:
import random

In [16]:
import random
import numpy as np

class TimeSeriesGenerator():
    def __init__(self):
        self.seed = 123
        
    def __set_seed(self):
        random.seed(self.seed)
        np.random.seed(self.seed)
        
    def __rand_int(self):
        return random.randint(0,100)
        
    def generate_day_data(self, int_data=True, n=30):    
        self.__set_seed()
        if int_data:
            upper = 100
        else:
            upper = 1
        data = [(datetime.datetime(
            year = 2019, 
            month = random.randint(8,9), 
            day = random.randint(1,30)
        ), random.randint(1,upper)) for i in range(0,n)]
                   
        return data
    
    def generate_month_data(self, int_data=True, n=30):    
        self.__set_seed()
        if int_data:
            upper = 100
        else:
            upper = 1
        data = [(datetime.datetime(
            year = random.randint(2018,2019), 
            month = random.randint(1,12), 
            day = random.randint(1,30)
        ), random.randint(1,upper)) for i in range(0,n)]
                   
        return data
    
    def generate_week_data(self, int_data=True, n=30):    
        self.__set_seed()
        if int_data:
            upper = 100
        else:
            upper = 1
        data = [(datetime.datetime(
            year = random.randint(2018,2019), 
            month = random.choice([11, 12, 1, 2]), 
            day = random.randint(1,30)
        ), random.randint(1,upper)) for i in range(0,n)]
                   
        return data

In [17]:
tsg = TimeSeriesGenerator()

In [18]:
tsg.generate_day_data(False)[0:4]

[(datetime.datetime(2019, 8, 9, 0, 0), 1),
 (datetime.datetime(2019, 9, 9, 0, 0), 1),
 (datetime.datetime(2019, 8, 13, 0, 0), 1),
 (datetime.datetime(2019, 9, 28, 0, 0), 1)]

In [19]:
tsg.generate_week_data(True)[0:4]

[(datetime.datetime(2018, 1, 3, 0, 0), 99),
 (datetime.datetime(2019, 1, 4, 0, 0), 5),
 (datetime.datetime(2019, 1, 11, 0, 0), 7),
 (datetime.datetime(2018, 12, 11, 0, 0), 72)]

In [20]:
tsg.generate_month_data(False)[0:4]

[(datetime.datetime(2018, 5, 3, 0, 0), 1),
 (datetime.datetime(2019, 2, 27, 0, 0), 1),
 (datetime.datetime(2019, 9, 18, 0, 0), 1),
 (datetime.datetime(2019, 1, 6, 0, 0), 1)]

In [21]:
data = tsg.generate_day_data(False)

In [45]:
len(data[0])

2

In [43]:
df = pd.DataFrame(data)
df.columns = ["TIME", "VALUES"]
df.head()

        TIME  VALUES
0 2019-08-09       1
1 2019-09-09       1
2 2019-08-13       1
3 2019-09-28       1
4 2019-08-05       1

In [40]:
df.sort_values(by=0, inplace=True)
df

            0  1
6  2019-08-01  1
8  2019-08-01  1
4  2019-08-05  1
25 2019-08-07  1
0  2019-08-09  1
22 2019-08-11  1
27 2019-08-13  1
2  2019-08-13  1
17 2019-08-13  1
10 2019-08-22  1
20 2019-08-24  1
14 2019-08-25  1
11 2019-08-26  1
16 2019-08-27  1
7  2019-08-29  1
26 2019-09-01  1
9  2019-09-04  1
29 2019-09-06  1
13 2019-09-09  1
1  2019-09-09  1
24 2019-09-13  1
28 2019-09-16  1
18 2019-09-17  1
19 2019-09-17  1
15 2019-09-17  1
21 2019-09-22  1
5  2019-09-23  1
3  2019-09-28  1
23 2019-09-29  1
12 2019-09-30  1

In [23]:
df.dtypes

0    datetime64[ns]
1             int64
dtype: object

In [29]:
ts = pd.Series(dict(data))
ts

2019-08-09    1
2019-09-09    1
2019-08-13    1
2019-09-28    1
2019-08-05    1
2019-09-23    1
2019-08-01    1
2019-08-29    1
2019-09-04    1
2019-08-22    1
2019-08-26    1
2019-09-30    1
2019-08-25    1
2019-09-17    1
2019-08-27    1
2019-08-24    1
2019-09-22    1
2019-08-11    1
2019-09-29    1
2019-09-13    1
2019-08-07    1
2019-09-01    1
2019-09-16    1
2019-09-06    1
dtype: int64

In [30]:
# ts_list = list(zip(*data))
# ts = pd.Series(ts_list[1], index=ts_list[0])
# ts

In [31]:
ts.sort_index()

2019-08-01    1
2019-08-05    1
2019-08-07    1
2019-08-09    1
2019-08-11    1
2019-08-13    1
2019-08-22    1
2019-08-24    1
2019-08-25    1
2019-08-26    1
2019-08-27    1
2019-08-29    1
2019-09-01    1
2019-09-04    1
2019-09-06    1
2019-09-09    1
2019-09-13    1
2019-09-16    1
2019-09-17    1
2019-09-22    1
2019-09-23    1
2019-09-28    1
2019-09-29    1
2019-09-30    1
dtype: int64

In [32]:
print(type(ts))

<class 'pandas.core.series.Series'>

In [33]:
type(ts.index)

pandas.core.indexes.datetimes.DatetimeIndex

## Time Series

In [ ]:
import pandas as pd
"""
tests
* column types
* shape
"""
class TimeSeries():
    def __init__(self):
        self.ts_list = None
    
    def set_ts_list(self, ts_list, col_names):
        """
        Set the time series.
        
        :param ts_list: List. List of tuples (timestamp, value).
        :param col_names: List. Name of time column and name of data column.
        """
        
        self.ts_list = ts_list
        self.col_names = col_names
        
    def get_ts_series(self):
        """
        Get ts as pandas.Series.
        
        :returns: pandas.series.
        """
        # TO DO - name columns
        ts = pd.Series(dict(self.ts_list))
        ts.sort_index()
        
        return ts
    
    def get_ts_df(self):
        """
        Get ts as pandas.DataFrame sorted by time.
        
        :returns: pandas.DataFrame.
        """
        # TO DO - name columns
        df = pd.DataFrame(self.ts_list)
        df.columns = self.col_names
        df.sort_values(by=0, inplace=True)
        
        return df