## Datum a čas

In [1]:
import datetime
import time
from time import gmtime, strftime
import pandas as pd
import random

### Aktuální datum a čas

In [2]:
from time import gmtime, strftime
print(strftime("%Y-%m-%d %H-%M-%S", gmtime()))
print(datetime.datetime.now().strftime("%Y-%m-%d %H-%M-%S"))

2019-09-16 07-09-40
2019-09-16 09-09-40

### Datum z jednotlivých dní

Použito v:
* Vykonia zpracování dat

In [3]:
#datum ve formátu "yyyymmddhh24
datumString = "2017030823"

In [4]:
#datum jako datetime
datum1 = datetime.datetime(
    year = int(datumString[0:4]), 
    month = int(datumString[4:6]), 
    day = int(datumString[6:8]),
    hour = int(datumString[8:10])
)
datum2 = datetime.datetime.strptime('2017-03-12', '%Y-%m-%d')

print(datum1)
print(datum2)

2017-03-08 23:00:00
2017-03-12 00:00:00

In [5]:
#timestamp
ts = time.mktime(datum1.timetuple())
print(ts)

1489010400.0

In [6]:
#a zpět
datetime.datetime.fromtimestamp(ts)

datetime.datetime(2017, 3, 8, 23, 0)

### Čísla dnů, týdnů, měsíců

In [7]:
#den týdne
print("Den týdne:",datum1.strftime("%w"))
print("Den týdne:",datum1.strftime("%a"))
print("Den týdne:",datum1.strftime("%A"))

Den týdne: 3
Den týdne: Wed
Den týdne: Wednesday

### Části

In [8]:
datum = datetime.datetime.strptime('2017-03-12', '%Y-%m-%d')

In [9]:
print(datum.hour)
print(datum.day)
print(datum.month)
print(datum.year)

0
12
3
2017

### Rozdíly

In [10]:
rozdil = datum2-datum1
print(rozdil)
rozdil

3 days, 1:00:00

datetime.timedelta(days=3, seconds=3600)

In [11]:
#rozdíl v hodinách
print(rozdil.total_seconds()/60/60)

73.0

## Časová řada

In [12]:
import TimeSeriesGenerator as TSG
import TimeSeries as TS

In [13]:
tsg = TSG.TimeSeriesGenerator()
ts = TS.TimeSeries()

In [14]:
ts.set_ts_list(tsg.generate_day_data(), ["TIME", "VALUE"])
ts_d = ts.get_ts_df()
ts_d

         TIME  VALUE
6  2019-08-01     56
4  2019-08-05     44
0  2019-08-09     12
25 2019-08-11     44
2  2019-08-13     69
11 2019-08-22     19
23 2019-08-24     11
15 2019-08-25     40
12 2019-08-26      3
17 2019-08-27     78
29 2019-08-27     81
22 2019-08-28     97
7  2019-08-29     77
10 2019-08-29      6
28 2019-09-01     25
18 2019-09-01     51
8  2019-09-03      1
14 2019-09-09     61
1  2019-09-09     14
3  2019-09-11      7
21 2019-09-12     66
27 2019-09-13     74
20 2019-09-17     86
16 2019-09-17     62
24 2019-09-22     34
19 2019-09-22     69
5  2019-09-23     32
9  2019-09-24     58
26 2019-09-29     10
13 2019-09-30     56

In [15]:
ts_d["TIME"].array

<DatetimeArray>
['2019-08-01 00:00:00', '2019-08-05 00:00:00', '2019-08-09 00:00:00',
 '2019-08-11 00:00:00', '2019-08-13 00:00:00', '2019-08-22 00:00:00',
 '2019-08-24 00:00:00', '2019-08-25 00:00:00', '2019-08-26 00:00:00',
 '2019-08-27 00:00:00', '2019-08-27 00:00:00', '2019-08-28 00:00:00',
 '2019-08-29 00:00:00', '2019-08-29 00:00:00', '2019-09-01 00:00:00',
 '2019-09-01 00:00:00', '2019-09-03 00:00:00', '2019-09-09 00:00:00',
 '2019-09-09 00:00:00', '2019-09-11 00:00:00', '2019-09-12 00:00:00',
 '2019-09-13 00:00:00', '2019-09-17 00:00:00', '2019-09-17 00:00:00',
 '2019-09-22 00:00:00', '2019-09-22 00:00:00', '2019-09-23 00:00:00',
 '2019-09-24 00:00:00', '2019-09-29 00:00:00', '2019-09-30 00:00:00']
Length: 30, dtype: datetime64[ns]

In [16]:
def get_ts_array(type):
    tsg = TSG.TimeSeriesGenerator()
    ts = TS.TimeSeries()

    if type == "d":
        ts.set_ts_list(tsg.generate_day_data(), ["TIME", "VALUE"])
    elif type == "w":
        ts.set_ts_list(tsg.generate_week_data(), ["TIME", "VALUE"])
    elif type == "m" or type == "y":
        ts.set_ts_list(tsg.generate_month_data(), ["TIME", "VALUE"])

    ts_d = ts.get_ts_df()

    return ts_d["TIME"].array

In [17]:
cas = get_ts_array("d")

In [18]:
cas_t = ((cas.year + cas.month/100 + cas.day/10000) * 10000).astype(int)
cas_t

array([20190801, 20190805, 20190809, 20190811, 20190813, 20190822,
       20190824, 20190825, 20190826, 20190827, 20190827, 20190828,
       20190829, 20190829, 20190901, 20190901, 20190903, 20190909,
       20190909, 20190911, 20190912, 20190913, 20190917, 20190917,
       20190922, 20190922, 20190923, 20190924, 20190929, 20190930])

In [19]:
n = 10
upper = 28

In [20]:
data = [(datetime.datetime(
            year=2019,
            month=random.randint(8, 9),
            day=random.randint(1, 30)
        ), random.randint(1, upper)) for i in range(0, n)]

In [21]:
data

[(datetime.datetime(2019, 9, 1, 0, 0), 12),
 (datetime.datetime(2019, 8, 13, 0, 0), 18),
 (datetime.datetime(2019, 8, 21, 0, 0), 10),
 (datetime.datetime(2019, 9, 25, 0, 0), 21),
 (datetime.datetime(2019, 8, 18, 0, 0), 16),
 (datetime.datetime(2019, 8, 5, 0, 0), 18),
 (datetime.datetime(2019, 9, 13, 0, 0), 25),
 (datetime.datetime(2019, 9, 2, 0, 0), 1),
 (datetime.datetime(2019, 8, 15, 0, 0), 7),
 (datetime.datetime(2019, 8, 9, 0, 0), 26)]