# CV

## Stratified CV

výběr z unbalanced data setu
[zdroj](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [9]:
import pandas as pd
from sklearn.model_selection import KFold, StratifiedKFold, GridSearchCV, train_test_split

In [2]:
X = pd.DataFrame()

In [3]:
X["x1"] = range(1, 11)
X["x2"] = range(10, 110, 10)
X

   x1   x2
0   1   10
1   2   20
2   3   30
3   4   40
4   5   50
5   6   60
6   7   70
7   8   80
8   9   90
9  10  100

In [7]:
y_cat = [0]*10
y_cat[0] = 1
y_cat[9] = 1
y_cat

[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]

In [10]:
y = y_cat

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=42, stratify=y_cat)

In [20]:
print(type(X_train))
print(X_train)
print(X_test)
print(y_train)
print(y_test)

<class 'pandas.core.frame.DataFrame'>
   x1   x2
9  10  100
2   3   30
8   9   90
1   2   20
6   7   70
   x1  x2
0   1  10
5   6  60
3   4  40
7   8  80
4   5  50
[1, 0, 0, 0, 0]
[1, 0, 0, 0, 0]

## Stratified k-fold

výběr z unbalanced data setu
[zdroj](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.StratifiedKFold.html)