# DF to TS

Potřebuji převést data frame na time series nějak.

[creating series](https://stackoverflow.com/questions/17841149/pandas-groupby-how-to-get-a-union-of-strings)  
[dictionary](https://stackoverflow.com/questions/49017178/pandas-dataframe-groupby-to-dictionary-with-multiple-columns-for-value)  
[pd.to_dict](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_dict.html)

In [1]:
import numpy as np
import pandas as pd

In [2]:
def create_df_for_testing():
    df = pd.DataFrame()
    df["B"] = ["B1", "B2", "B1", "B3", "B1", "B2"]
    df["T"] = [1, 2, 1, 3, 2, 1]
    df["D"] = ["D1", "D2", "D1", "D1", "D3", "D3"]
    df["V"] = [1.1, 2.6, 3.1, 6.2, 4.5, 8.0]

    return df

In [3]:
df = create_df_for_testing()
df

    B  T   D    V
0  B1  1  D1  1.1
1  B2  2  D2  2.6
2  B1  1  D1  3.1
3  B3  3  D1  6.2
4  B1  2  D3  4.5
5  B2  1  D3  8.0

In [8]:
from Timerer import Timerer
import pandas as pd

class ToTSTransformator():
    def __init__(self):
        self.tr = Timerer()
    
    def transform_to_ts(self, df, atr_groupby, atr_time, atr_value):
        """
        :param df: DataFrame.
        :param atr_groupby: String.
        :param atr_time: String.
        :param atr_value: String.
        
        :return: DataFrame.
        """
        self.tr.set_initial_timestamp(print_results=False)
        
        df_res = df.groupby(
            by=atr_groupby, 
            as_index=True
        )[[atr_time, atr_value]].apply(lambda r: list(map(tuple, r.values.tolist())))
        df_res = df_res.to_frame()
        df_res.reset_index(inplace=True) 
        df_rescolumns = [atr_groupby, "TS_"+atr_value]
        
        self.tr.set_final_timestamp(label="Tranformation to TS", print_results=True)
        
        return df_res

In [9]:
t = ToTSTransformator()

In [10]:
t.transform_to_ts(df, "B", "T", "D")

Meantime Duration of Tranformation to TS is: 0.0 minutes / 0.01 seconds
-Date and Time of Ending Execution: 03/09/2019 13:34:33
-Overall Time Duration Is: 0.0 minutes / 0.01 seconds

    B                            0
0  B1  [(1, D1), (1, D1), (2, D3)]
1  B2           [(2, D2), (1, D3)]
2  B3                    [(3, D1)]

In [7]:
t.transform_to_ts(df, "B", "T", "V")

Meantime Duration of Tranformation to TS is: 0.0 minutes / 0.01 seconds
-Date and Time of Ending Execution: 03/09/2019 13:25:21
-Overall Time Duration Is: 0.0 minutes / 0.01 seconds

    B                                     0
0  B1  [(1.0, 1.1), (1.0, 3.1), (2.0, 4.5)]
1  B2              [(2.0, 2.6), (1.0, 8.0)]
2  B3                          [(3.0, 6.2)]